*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
font-family: empire;
src: url(fonts/aAbsoluteEmpire.ttf);
}
@font-face {
font-family: akira;
src: url(fonts/Akira\ Expanded\ Demo.otf);
}
@font-face {
font-family: round-style;
src: url(fonts/RoundStyle-Bold.ttf);
}
@font-face {
    font-family: vernyn;
    src: url(fonts/VenrynSans-Regular.ttf);
}

.body{
    background-color: #212020;
    width: 100%;
    height: auto;
}

.header{
    width: 100%;
    padding: 15px 5%;
    color: #fff;
    background:linear-gradient(-45deg,rgb(20, 20, 20),rgb(42,42,42));    
    transition: 1s;
    z-index: 1;
    align-items: center;
    justify-content: center;
    
  }
.header:hover{
    cursor: pointer;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav-menu img{
  display: flex;
  justify-content: start;
  margin: 0 0 0 35px;
}
.nav-menu h1{
    padding-top: 1%;
    padding-right: 450px;
    color: #fff;
    font-size: 22px;
    font-family: akira;
    transition: 0.5s;
}

.nav-menu ul{
    padding-top: 10px;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    margin: 10px 0px;
    margin-right: 200px;
    font-weight: bolder;
    font-size: large;
}
.nav-menu ul li {
    padding: 5px 0;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20%;
    padding-right: 5%;
    cursor: pointer; 
    will-change: transform;
    position: relative;
    transition: 0.5ms;
  
    
}
.nav-menu li a{
    font-family: vernyn;
    color:#fff;
    text-decoration: none;
    position: relative;
    transition: 200ms ease-out;
    margin-bottom: 20px;
    font-size: 16px;
}
.nav-menu li a::after{
    content: '';
    width: 0%;
    left: 0;
    bottom: -10px;
    position: absolute;
    height: 3px;
    transition: 200ms ease-out;
    background-color: yellow; 
}
.nav-menu li a:hover::after{
    width: 100%;
    
}
.nav-menu li a:hover{
    color: whitesmoke;
}
.nav-menu ul li a span{
    color: yellow;
}
/*----------------------------------------*/
.starter{
    background:linear-gradient(to left,rgba(30,30,30),rgb(55, 55, 55),rgb(30, 30, 30));
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    padding: 0 6% 0 6%;
    height: 70svh;
    gap: 50px;
}
.image-about{
    overflow: hidden;
}
.image-about img{
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.para-about{
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    font-family: vernyn;
    letter-spacing: 2px;
    justify-content: center;
}
.para-about h1{
    font-size: 3rem;
    line-height: 55px;
    word-spacing: -10px;
}
.para-about span{
    color: yellow;
}
.para-about p{
    margin: 2rem 1em 0 0;
    font-size: 18px;
    line-height: 20px;
}
.para-about h3{
    font-size: 25px;
    
}

.para-about ul{
    display: flex;
}
.contact-about{
    list-style: none;
    margin: 30px 0 0 0;
}
.contact-about button{
    border-radius: 20px;
    background: linear-gradient(to left,rgb(200, 180, 55),rgb(255, 255, 0));
    padding: 10px 40px;
    color: black;
    transition: 0.3s;
    border-style: none;
    font-weight: 600;
    font-family: vernyn;
    letter-spacing: 1px;
}
.contact-about button:hover{
    transform: scale(1.08);
}
.social-icons{
    list-style: none;
    font-size: 30px;
    display: flex;
    gap: 30px;
    padding: 30px 0 0 0;
}
.social-icons a{
   color: white;
   transition: 0.5s;
}
.social-icons a:hover{
    color: yellow;
    transform: scale(1.1);
}
.experince{
    position: relative;
    height: auto;
    background:linear-gradient(to left,rgba(30,30,30),rgb(55, 55, 55),rgb(30, 30, 30));
    padding: 60px 6% 0 6%;
    font-family: vernyn;
}
.exp-h{
    font-size:3rem;
    color: yellow;
    padding: 0 0 15px 0;
}
.exp-1{
    position: relative;
    display: flex;
    padding: 15px 0 0 0;
}
.exp-1 h1{
    padding: 15px 15px 0 170px;
    color: white;
}
.exp-1 img{
    position: absolute;
    top: 40px;
    left: 20px;
}
.exp-1-subs{
    padding: 10px 0 40px 170px;
    color: rgb(191, 191, 191);  
}
.exp-1-subs h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}
.exp-2{
    display: flex;
    padding: 15px 0 0 0;
    position: relative;
}
.exp-2 h1{
    padding: 15px 15px 0 170px;
    color: white;
}
.exp-2 img{
    position: absolute;
    top: 40px;
    left: 20px;
}
.exp-2-subs{
    padding: 10px 0 40px 170px;
    color: rgb(191, 191, 191); 
}

.exp-3{
    display: flex;
    padding: 15px 0 0 0;
    position: relative;
}
.exp-3 h1{
    padding: 15px 15px 0 170px;
    color: white;
}
.exp-3 img{
    position: absolute;
    top: 40px;
    left: 20px;
}
.exp-3-subs{
    padding: 10px 0 40px 170px;
    color: rgb(191, 191, 191); 
}
.exp-4{
    display: flex;
    padding: 15px 0 0 0;
    position: relative;
}
.exp-4 h1{
    padding: 15px 15px 0 170px;
    color: white;
}
.exp-4 img{
    position: absolute;
    top: 40px;
    left: 20px;
}
.exp-4-subs{
    padding: 10px 0 40px 170px;
    color: rgb(191, 191, 191); 
}
.pro-more{
    background:linear-gradient(to left,rgba(30,30,30),rgb(55, 55, 55),rgb(30, 30, 30));
    font-family: vernyn;
    color: white;
    text-align: center;
    padding: 50px 0;
}
.pro-more h1{
    font-size: 50px;
    padding: 0 0 30px 0;
}
    
.pro-more a{
    background-color: rgb(7, 7, 7);
    color: white;
    padding: 15px 50px;
    font-size: 16px;
    font-family: 'Gill Sans Nova', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 40px;
    transition: 500ms;
    word-spacing: 2px;
    border-style: solid;
    border-color: yellow;
}

.pro-more a:hover{
  box-shadow:0 0 5px yellow;
  color: black;
  background-color: yellow;
}


/************************************************************/

footer{
    width: 100%;
    padding: 0 10%;
    background: linear-gradient(to top,rgb(197, 182, 86),rgb(255, 225, 1));
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .footer-content1{
    padding: 50px;
    line-height: 30px;
  }
  .footer-content1 h1{
    font-family: 'Gills Sans Nova ',sans-serif;
    font-weight: 600;
    color: #222222;
    padding: 20px 0;
  }
  .footer-content1 p{
    font-size: 18px;
    color: #3c3c3c;
  } 
  .footer-content1 ul{
    list-style: none;
    color: black;
  }
  .footer-content1 ul li{
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
  .footer-content1 ul a{
    color: #3c3c3c;
  }
  
  .footer-content2{
    text-align: start;
    padding: 50px;
  }
  .footer-content2 h1{
    font-family: 'Gills Sans Nova ',sans-serif;
    font-weight: 600;
    color: #222;
    padding: 20px 0 8px 0;
  }
  .footer-content2 ul{
    font-family: 'Gills Sans Nova ',sans-serif;
    padding:0px 0;
    color: black;
    font-weight: 500;
    list-style: none;
    
  }
  .footer-content2 ul li{
    padding: 8px 0;
    color: black;
    font-size: 16px;
    font-weight: 500;
  }
  .footer-content2 ul a{
    color: rgb(42, 42, 42);
    position: relative;
  }
  .footer-content2 ul a::after{
    content: '';
    width: 0%;
    left: 0;
    bottom: -10px;
    position: absolute;
    height: 3px;
    transition: 200ms ease-out;
    background-color: rgb(1, 1, 1); 
  }
  .footer-content2 ul li a:hover::after{
    width: 100%;
    background-color: rgb(5, 5, 5);
  } 
  
  .footer-content3{
    padding: 130px 50px 180px 50px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .footer-content4{
    height: 5svh;
    background: black;
  }
  .quality-logo{
    margin: 50px 0;
  }
  